<div class="row">
    <div class="col-6">
        <input class="btn btn-info form-control" type="submit" value="Create Service" />
    </div>
    <div class="col-6">
        <a asp-page="Index" class="btn btn-primary form-control">Back to Services</a>
    </div>
</div>