<div class="row">
    <div class="col-6">
        <input class="btn btn-danger form-control" type="submit" value="Delete Service" />
    </div>
    <div class="col-6">
        <a asp-page="Index" class="btn btn-success form-control">Back to Services</a>
    </div>
</div>