@page
@using Microsoft.Extensions.Options
@using Stripe

@inject IOptions<SparkAuto.StripeSettings.StripeSettings> Stripe

@model SparkAuto.Pages.ShoppingCart.ShoppingCartModel
@{
    ViewData["Title"] = "ShoppingCart";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container" style="width: 50%">
    <div class="card" id="shoppingCart">
        <div class="card-header d-flex bg-dark justify-content-between">
            <div>@await Component.InvokeAsync("ShoppingCart")</div>
            <div>
                <a class="nav-link text-light" href="#">
                    <h4>Amount: @Model.ShoppingCartViewModel.TotalPrice.ToString("C")</h4>
                </a>
            </div>
        </div>
        <div class="card-body">
            @foreach (var serviceHeader in Model.ShoppingCartViewModel.ServiceHeaders)
            {
                <h4 class="text-muted">Date Performed @serviceHeader.DateAdded.ToShortDateString()</h4>
                <table class="table table-striped border mx-0 pb-4" style="width: 100%">
                    <thead>
                        <tr class="table-secondary">
                            <th>Service Name</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody class="bg-info text-light">
                        @foreach (var details in Model.ShoppingCartViewModel.ServiceDetails.Where(c => c.Key == serviceHeader.Id))
                        {
                            foreach (var sDetails in details.Value)
                            {
                                <tr>
                                    <td>@sDetails.ServiceName</td>
                                    <td>@sDetails.ServicePrice</td>
                                </tr>

                            }

                        }
                    </tbody>
                </table>
            }

        </div>
        <div class="card-footer bg-success">
            <a class="btn btn-primary form-control my-1 text-light" asp-page="./StripeCheckout">Stripe Checkout</a>
            <a class="btn btn-primary form-control my-1 text-light">Paypal Checkout</a>

        </div>

    </div>

