@page
@model SparkAuto.Pages.ShoppingCart.ShoppingCartModel
@{
    ViewData["Title"] = "ShoppingCart";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container" style="width: 70%">
    <div class="card" id="shoppingCart">
        <div class="card-header d-flex bg-dark justify-content-between">
            <div>@await Component.InvokeAsync("ShoppingCart")</div>
            <div>
                <a class="nav-link text-light" href="#">
                    <h4>Total: $1234</h4>
                </a>
            </div>
        </div>
        <div class="card-body">
            <h4 class="text-muted">Date Performed 23.14.20</h4>
            <table class="table table-striped border mx-0 px-0" style="width: 100%">
                <thead>
                <tr class="table-secondary">
                    <th>Service Name</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody class="bg-info text-light">
                <tr>
                    <td>Car wash</td>
                    <td>60</td>
                </tr>
                <tr>
                    <td>Car wash</td>
                    <td>60</td>
                </tr>
                <tr>
                    <td>Car wash</td>
                    <td>60</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <a class="btn btn-primary form-control my-1 text-light">Stripe Checkout</a>
            <a class="btn btn-primary form-control my-1 text-light">Paypal Checkout</a>
        </div>
    </div>

</div>

