@page "/Create/{userId}"

@using SparkAuto.StaticDetailsUtilities
@model SparkAuto.Pages.Cars.CreateModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<h1>Create a new car</h1>

<form method="post">
    <div class="whitebackground border">
        <input type="hidden" asp-for="Car.UserId" />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Car.RegistrationNumber">Registration Number</label>
            </div>
            <div class="col-5">
                <input type="text" class="form-control" autocomplete="off" asp-for="Car.RegistrationNumber" value="" />
                <span asp-validation-for="Car.RegistrationNumber" class="text-danger d-block"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Car.Make">Make</label>
            </div>
            <div class="col-5">
                <input type="text" class="form-control" autocomplete="off" asp-for="Car.Make" value="" />
                <span asp-validation-for="Car.Make" class="text-danger d-block"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Car.Model">Model</label>
            </div>
            <div class="col-5">
                <input type="text" class="form-control" autocomplete="off" asp-for="Car.Model" value="" />
                <span asp-validation-for="Car.Model" class="text-danger d-block"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Car.Colour">Colour</label>
            </div>
            <div class="col-5">
                <input type="text" class="form-control" autocomplete="off" asp-for="Car.Colour" value="" />
                <span asp-validation-for="Car.Colour" class="text-danger d-block"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Car.Miles">Miles</label>
            </div>
            <div class="col-5">
                <input type="text" class="form-control" autocomplete="off" asp-for="Car.Miles" value="" />
                <span asp-validation-for="Car.Miles" class="text-danger d-block"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Car.Year">Year</label>
            </div>
            <div class="col-5">
                <input type="text" class="form-control" autocomplete="off" asp-for="Car.Year" value="" />
                <span asp-validation-for="Car.Year" class="text-danger d-block"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Car.Style">Style</label>
            </div>
            <div class="col-5">
                <input type="text" class="form-control" autocomplete="off" asp-for="Car.Style" value="" />
                <span asp-validation-for="Car.Style" class="text-danger d-block"></span>
            </div>
        </div>


        <div class="form-group row">
            <div class="offset-2 col-5">
                <div class="row">
                    <div class="col-6">
                        <input class="btn btn-info form-control" type="submit" value="Create car" />
                    </div>

                    @if (User.IsInRole(StaticDetails.AdminEndUser))
                    {
                        <div class="col-6">
                            <a asp-page="./Index" asp-route-userId="@Model.Car.UserId" class="btn btn-primary form-control">Back to Users</a>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</form>


@section Scripts
{
    @{ await Html.RenderPartialAsync("Shared/_ValidationScriptsPartial"); }
}