@page "/Delete/Car/{carId:int?}"
@model SparkAuto.Pages.Cars.DeleteModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<partial name="Shared/_StatusMessage" model="@Model.Message" />

<h2 class="text-center text-danger">Are you sure you want to delete this car?</h2>

<form method="post">
    <div class="whitebackground border">
        <input type="hidden" asp-for="Car.UserId" />
        <input type="hidden" asp-for="Car.Id" />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Car.RegistrationNumber">Registration Number</label>
            </div>
            <div class="col-5">
                <input type="text" class="form-control" autocomplete="off" asp-for="Car.RegistrationNumber" disabled="disabled" />
                <span asp-validation-for="Car.RegistrationNumber" class="text-danger d-block"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Car.Make">Make</label>
            </div>
            <div class="col-5">
                <input type="text" class="form-control" autocomplete="off" asp-for="Car.Make" disabled="disabled" />
                <span asp-validation-for="Car.Make" class="text-danger d-block"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Car.Model">Model</label>
            </div>
            <div class="col-5">
                <input type="text" class="form-control" autocomplete="off" asp-for="Car.Model" disabled="disabled" />
                <span asp-validation-for="Car.Model" class="text-danger d-block"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Car.Colour">Colour</label>
            </div>
            <div class="col-5">
                <input type="text" class="form-control" autocomplete="off" asp-for="Car.Colour" disabled="disabled" />
                <span asp-validation-for="Car.Colour" class="text-danger d-block"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Car.Miles">Miles</label>
            </div>
            <div class="col-5">
                <input type="text" class="form-control" autocomplete="off" asp-for="Car.Miles" disabled="disabled" />
                <span asp-validation-for="Car.Miles" class="text-danger d-block"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Car.Year">Year</label>
            </div>
            <div class="col-5">
                <input type="text" class="form-control" autocomplete="off" asp-for="Car.Year" disabled="disabled" />
                <span asp-validation-for="Car.Year" class="text-danger d-block"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Car.Style">Style</label>
            </div>
            <div class="col-5">
                <input type="text" class="form-control" autocomplete="off" asp-for="Car.Style" disabled="disabled" />
                <span asp-validation-for="Car.Style" class="text-danger d-block"></span>
            </div>
        </div>


        <div class="form-group row">
            <div class="offset-2 col-5">
                <div class="row">
                    <div class="col-6">
                        <input class="btn btn-danger form-control" type="submit" value="Delete car" />
                    </div>


                    <div class="col-6">
                        <a asp-page="./Index" asp-route-userId="@Model.Car.UserId" class="btn btn-primary form-control">Back to Cars</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</form>


