@page "/Edit/{userId}"
@model SparkAuto.Pages.Users.EditModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="row whitebackground border my-auto mx-auto " style="width: 60%">
    <div class="col-md-8">
        <form method="post">
            <input type="hidden" asp-for="ApplicationUser.Email" />
            <input asp-for="ApplicationUser.Id" hidden />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <div class="row">
                    <div class="col-4">
                        <label asp-for="ApplicationUser.Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="ApplicationUser.Name" class="form-control" />
                        <span asp-validation-for="ApplicationUser.Name" class="text-danger d-block"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-4">
                        <label asp-for="ApplicationUser.PhoneNumber"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="ApplicationUser.PhoneNumber" class="form-control" />
                        <span asp-validation-for="ApplicationUser.PhoneNumber" class="text-danger d-block"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-4">
                        <label asp-for="ApplicationUser.Address"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="ApplicationUser.Address" class="form-control" />
                        <span asp-validation-for="ApplicationUser.Address" class="text-danger d-block"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-4">
                        <label asp-for="ApplicationUser.PostalAddress"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="ApplicationUser.PostalAddress" class="form-control" />
                        <span asp-validation-for="ApplicationUser.PostalAddress" class="text-danger d-block"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-4">
                        <label asp-for="ApplicationUser.City"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="ApplicationUser.City" class="form-control" />
                        <span asp-validation-for="ApplicationUser.City" class="text-danger d-block"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-4">
                    </div>
                    <div class="col-8">
                        <button class="form-control btn btn-success" type="submit">Update</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

@section Scripts
{
    <partial name="Shared/_ValidationScriptsPartial" />
}